.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.task-list {
  margin-bottom: 20px;
}

.statistics {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.statistic-card {
  flex-basis: calc(33.33% - 10px);
  background-color: #f4f4f4;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.statistic-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  color: black; /* Cambia el color del texto a negro */
}

.statistic-header ion-icon {
  margin-right: 10px;
}

.statistic-value {
  font-size: 24px;
  font-weight: bold;
  color: black; /* Cambia el color del texto a negro */
}

.footer {
  text-align: center;
  font-size: 12px;
  color: #999999;
  margin-top: 20px;
}
