<ion-header>
  <ion-toolbar>
    <ion-title>Monkey-Task Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1>Mis Tareas</h1>

    <div class="task-list">
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let task of tasks">
            <div class="task-card" [ngClass]="getTaskStatusClass(task.status)">
              <div class="task-info">
                
                <div class="task-department">{{ task.department }}</div>
                
                <div class="task-time">{{ task.time }}</div>

                <div class="task-status">{{ task.status }}</div>

              </div>
              <div class="task-name">{{ task.name }}</div>
              <ion-button (click)="onDeleteTask(task)">Eliminar</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button color="primary" routerLink="/add-edit-item">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
