<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Departamento</ion-label>
      <ion-select [(ngModel)]="selectedDepartment">
        <ion-select-option *ngFor="let department of departments" [value]="department">
          {{ department }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha</ion-label>
      <ion-datetime display-format="D MMM YYYY" max="2050-12-31" [(ngModel)]="task.time"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Tarea</ion-label>
      <ion-input [(ngModel)]="task.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Adjuntar Foto</ion-label>
      <ion-button (click)="takePhoto()">Tomar Foto</ion-button>
      <img *ngIf="photoDataUrl" [src]="photoDataUrl" />
    </ion-item>
  </ion-list>

  <div class="button-container">
    <ion-button expand="full" color="primary" (click)="onSave()">Guardar</ion-button>
    <ion-button expand="full" color="danger" (click)="onCancel()">Cancelar</ion-button>
  </div>
</ion-content>
